@model IEnumerable<Application.Dtos.ProviderDto>;

@{
    ViewData["Title"] = "Создание заказа";
}

<div class="container">
    <div class="form-group mt-2">
        <label for="number" class="d-block">Номер</label>
        <input type="text" name="number" id="number" class="w-100" />
    </div>

    <div class="form-group mt-2">
        <label for="provider" class="d-block">Поставщики</label>
        <select id="provider" class="w-100">
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>

    <div class="form-group mt-2">
        <label for="date" class="d-block">Дата</label>
        <input type="datetime-local" name="date" id="date" />
    </div>

    <div class="form-group mt-2">
        <label class="d-block">Добавление элементов заказа</label>
        <div>
            <label for="name">Наименование</label>
            <input type="text" name="name" id="name" class="w-100">
        </div>
        <div>
            <label for="unit">Unit</label>
            <input type="text" name="unit" id="unit" class="w-100">
        </div>
        <div>
            <label for="quantity">Количество</label>
            <input type="text" name="quantity" id="quantity" class="w-100">
        </div>

        <button class="btn-sm btn-warning addOrderItem d-block mt-1">+ Добавить</button>
    </div>

    <div class="form-group mt-2">
        <label for="order-items" class="d-block">Элементы заказа</label>
        <div class="form-group order-items"></div>
    </div>

    <input type="submit" value="Создать" class="btn btn-primary d-block mt-2" style="margin-left: auto" id="createOrder" />
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    const orderItems = []

    function deleteOrderItem(index) {
        orderItems.splice(index, 1);

        $(".order-items").empty();

        orderItems.forEach((orderItem, index) => {
            const orderCard = createOrderItemCard(orderItem.name, orderItem.unit, orderItem.quantity, index)
            $(".order-items").append(orderCard);
        })
    }

    $(document).ready(function () {
        $(".addOrderItem").on("click", function () {
            const orderItem = {
                name: $("#name").val(),
                unit: $("#unit").val(),
                quantity: $("#quantity").val(),
            }

            orderItems.push(orderItem);

            const orderCard = createOrderItemCard(orderItem.name, orderItem.unit, orderItem.quantity, orderItems.length - 1)
            $(".order-items").append(orderCard);
        });

        $("#createOrder").on("click", function () {
            const formDate = new FormData();
            formDate.append("Number", $("#number").val());
            formDate.append("Date", $("#date").val());
            formDate.append("ProviderId", $("#provider").val());
            orderItems.forEach((item, index) => {
                formDate.append(`OrderItems[${index}].name`, item.name);
                formDate.append(`OrderItems[${index}].unit`, item.unit);
                formDate.append(`OrderItems[${index}].quantity`, item.quantity);
            })

            $.ajax({ type: 'POST', url: "/OrderManager/Create", data: formDate, processData: false, contentType: false })
                .done(function (response) {
                    window.location.href = "/Main";
                })
                .fail(function (error) {
                    const resplonse = JSON.parse(error.responseText)
                    if (Array.isArray(resplonse.value)) {
                        alert(resplonse.value.join('\n'));
                    } else {
                        alert(resplonse.value);
                    }
                });
        })
    });
</script>